@page "/detalles/{id:int}"
@using Models
@using Services
@inject IProductosService ProductosService

<MudText Typo="Typo.h5">Precio del producto</MudText>

@if (productos == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <MudCard>
        <MudCardHeader Class="blue lighten-2">
            <CardHeaderContent>
                <MudText Typo="Typo.h6">@productos.Nombre</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2">@productos.Precio</MudText>
        </MudCardContent>
        <MudCardActions Class="center">
            <img src="@productos.Imagen" alt="@productos.Nombre" Elevation="25" Class="rounded-lg" width="60%" height="auto" />
        </MudCardActions>
    </MudCard>
}

@code {
    [Parameter]
    public int id { get; set; }

    Producto productos = new Producto();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
            productos = await ProductosService.GetById(id);
    }
}
